/* .flex-item{
    background-color: rgb(228, 215, 215);
    border: 2px solid black;
    margin: 12px;
    width: 250px;
    height: 300px;
}

.flex-container{
    display: flex;
    border: 2px solid black;
    position: relative;
    top: 30vh;
} */


body {
    background-color: #ccc;
    /* background-color: yellow; */
    color: #272727;
    font-size: 16px;
    margin: 0;
  }

  
  .navbar {
    align-items: center;
    /* background: #fff; */
    /* background-color: rgb(255, 166, 0); */
    background-color: grey;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding: 10px 50px;
  }
  
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in;
  }
  @media screen and (max-width: 768px) {
    .nav-menu {
      background: #fff;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translatey(-100%);
      text-align: center;
    }
    .menu-active .nav-menu {
      transform: translatey(0%);
      opacity: 1;
    }
  }
  .nav-menu .menu-item a {
    color: #444444;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-menu .menu-item a:hover {
    color: #777777;
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    .nav-menu .menu-item a {
      font-size: 20px;
      margin: 8px;
    }
  }
  
  .sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    list-style: none;
    width: 230px;
  }
  @media screen and (max-width: 768px) {
    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }
  }
  
  /* .nav__link:hover + .sub-nav {
    display: block;
  } */
  
  /* .sub-nav:hover {
    display: block;
  } */
  
  section{
    font-family: 'Poppins', sans-serif;
    margin-top: 20vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
  }
  .card {
      box-shadow: rgba(5, 10, 1, 0.25) 10px 0px 0px 5px; 
      /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
      padding: 30px;
      justify-content: center;
      align-items: center;
      width: 400px; 
      color: black;
  }
  
  .card .text{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .card .text img{
      height: 120px;
      border-radius: 50%;
    margin-bottom:10px;
  }
  
  .card .text h3 {
      font-size: 40px;
      font-weight: 400;
  }
  
  .card .text p:nth-of-type(1){
      color: seagreen;
      /* color: rgb(35, 182, 219); */
      font-size: 20px;
      margin-top: -5px;
  }
  
  .card .text p:nth-of-type(2){
      margin: 10px;
      width: 90%;
      text-align: center;
  }
  
  .card .links{
      width: 30%;
      display: flex;
      justify-content: space-evenly;
  }
  
  .card .links i{
      color: rgb(35, 182, 219);
      font-size: 20px;
      cursor: pointer;
  }
  
  /* .card .links i:hover{
      color:rgb(29, 157, 189) ;
  } */
  
  .center{
    position: relative;
    top:40vh;
   display: flex;
   justify-content: center;
   align-items: center;
  }